.banner {
  section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .titular {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      position: absolute;
      z-index: 1000;
      gap: 1.2rem;
      height: 100vh;
      width: 97vw;
      background-color: rgba($bg-1, 0.6);
      border-bottom: 4rem solid $bg-1;

      h1 {
        @include tablet {
          color: $blanco;
          font-size: 7rem;
        }
        font-size: 3rem;
        margin-bottom: 1.2rem;
        margin-top: 18rem;
        color: $blanco;
      }
      h3 {
        @include tablet {
          color: $blanco;
          font-size: 5.8rem;
        }
        font-size: 2.8rem;
        color: $blanco;
      }
      .icon-tabler-arrow-down-circle {
        margin-top: 2rem;
      }
      max-height: max-content;
    }
    video {
      position: relative;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
