.fadeRight {
  transform: translate(10vh, 0vh);
  transition: all 1s;
}
.hover {
  overflow: hidden;
}
.fadeLeft {
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}
.bounce {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.animate__bounceInRight {
  animation: animate__bounceInRight;
  animation-duration: 2s; /* don't forget to set a duration! */
}

.animado,
.animado1,
.animado2 {
  opacity: 0;
  transition: all 1s;
}

/* Typing Effect on Website Loading */
@keyframes left {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
