footer {
  margin-top: 18rem;
  height: 48rem;
}

.svg {
  width: 74;
  height: 74;
}
body > footer > div > ul {
  @include tablet {
    margin-top: 14rem;
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  li {
    margin-top: 4rem;
  }
}
::marker {
  height: 0.1rem;
  display: none;
  visibility: hidden;
  color: black;
  margin-top: 1rem;
  position: absolute;
}
