.modal {
  position: fixed;
  background-color: rgba($negro, 0.5);
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .proyecto-modal {
    @include tablet {
      padding: 0 10rem;
      width: 80%;
      height: 100%;
      background-color: rgba(darken($bg-2, 10%), 0.89);
      position: sticky;
      z-index: 1000;
      margin: auto;

      padding-bottom: 10rem;

      display: flex;
      flex-direction: column;
    }
    width: 90%;
    height: 100%;
    background-color: rgba($negro, 0.9);
    position: sticky;
    z-index: 1000;
    margin: auto;

    padding-bottom: 10rem;

    display: flex;
    flex-direction: column;

    .h4-modal {
      margin: 3rem auto;
      text-align: center;
    }
    .descripcion-modal {
      margin-top: 4rem;
      text-align: center;
    }

    .imagen-modal {
      width: 50%;
      height: auto;
      object-fit: cover;
      margin: auto;
    }
    .boton-modal {
      margin: auto;
      border-radius: 3rem;
      position: absolute;

      margin-top: 1rem;
      bottom: 0;
      left: 0;
      right: 0;
      @include boton($bg-2, $cy-3);
    }
    .link-modal {
      margin: auto;
      border-radius: 3rem;
      width: 60%;
      @include boton($cy-3, $blanco);

      @include telefono {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 5rem;
        border-radius: 3rem;
        width: 90%;
      }

      margin-top: 5rem;
    }
  }

  &.animar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
  &.cerrar {
    transform: translateY(-220%);
    opacity: 0;
  }
}
