.grafico {
  position: relative; /* IE is dumb */
  width: 90%;
  border: 1px solid $cy-2;
  padding: 2px;
  font-family: $fuente_terciaria;
  font-size: 2rem;
  @include tablet {
    position: relative; /* IE is dumb */
    width: 70%;
    border: 1px solid $cy-2;
    padding: 2px;
    font-family: $fuente_terciaria;
    font-size: 3rem;
  }
}
.grafico .barra {
  display: block;
  position: relative;
  background: $cy-5;

  text-align: center;
  color: $blanco;
  height: 2em;
  line-height: 2em;
}
.grafico .barra span {
  position: absolute;
  left: 1em;
}

.skills {
  margin-top: 10rem;
  @include tablet {
    font-size: 3rem;
  }
  font-size: 1rem;
  .grafico-conteiner {
    :hover {
      width: 50vw;
    }
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: auto;
    .grafico {
      margin-bottom: 3rem;
      margin-left: 15rem;
      strong {
        text-align: left;
        padding-left: 6rem;
      }
    }
  }
}
